<div class="light-font text-dark">
  <%= simple_form_for(@group) do |f| %>
    <div class="form-group mt-4">
      <%= f.input :name, required: true, autofocus: true, class: 'form-control', placeholder: 'Name', label: false %>
    </div>
    <div class="form-group">
      <%= f.file_field :avatar %>
    </div>
    <div class="form-group">
      <%= f.button :submit, 'Create Group', class: 'btn btn-primary w-100' %>
    </div>
  <% end %>
</div>
