@import "bootstrap";
@import "mixins";

body {
  height: 100vh;
}

.sessions,
#main-login {
  @include flexCenter(center, column);
}

.bg-blue {
  background-color: #3778c2;
}

.bg-green {
  background-color: #5fb523;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

#main-page {
  background: linear-gradient(17deg, rgba(51,105,167,0.8229317851959361) 0%, rgba(55,120,194,1) 65%);
  height: 94vh;
}

#main-page img {
  width: 80px;
  height: 80px;
  margin: auto;
}

.group-img img {
  height: 60px;
  width: 60px;
}

.nav img {
  height: 3em;
  width: 3em;
}

.card {
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  box-shadow:
    3px 3px rgba(200, 200, 200, 0.2),
    3px -3px rgba(200, 200, 200, 0.2),
    -3px -3px rgba(200, 200, 200, 0.2),
    -3px 3px rgba(200, 200, 200, 0.2);
}
